.mainHeaderSection {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F5FA;
  color: #000000;
}
.firstChild {
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  text-align: center;
}
.secondChild {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  line-height: 45px;
}
